<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchistoAI</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Schistosomisis Infection using Artificial Intelligence</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        </div>
      </nav>
      <br>
    <div class="container">
        <div class="row align-items-end">


            <form method="POST" action="{% url 'analyser' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Is the patient experiencing Abdominal Pain, recently?</span>
                        <select class="form-select" name="q1">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Does the patient suffer from Diarrhea?</span>
                        <select class="form-select" name="q2">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Is there blood in the patient's Stool?</span>
                        <select class="form-select" name="q3">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Is their blood in the patient's Urine</span>
                        <select class="form-select" name="q4">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Does the patient Swims in Pool, River, Dam etc?</span>
                        <select class="form-select" name="q5">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Is the patien't using river, dam or infection exposed water?</span>
                        <select class="form-select" name="q6">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Is the patient urinating or passing stool in river, pool, dam etc?</span>
                        <select class="form-select" name="q7">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Does the patient boils water before use?</span>
                        <select class="form-select" name="q8">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
        </div>
        <div class="mb-3">
            <input type="submit" id="join-btn" name="join" alt="Join" value="Analyse">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Analysis Report</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{prediction}}"></textarea>
        </div>
        </form>

    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>